@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-gilroy: "Gilroy", sans-serif;

  --color-primary-50: oklch(97.5% 0.03 139.77);
  --color-primary-100: oklch(95% 0.06 139.77);
  --color-primary-200: oklch(90% 0.11 139.77);
  --color-primary-300: oklch(82% 0.15 139.77);
  --color-primary-400: oklch(74% 0.19 139.77);
  --color-primary-500: oklch(66.4% 0.2127 139.77);
  --color-primary-600: oklch(60% 0.2 139.77);
  --color-primary-700: oklch(52% 0.18 139.77); /*Primary color*/
  --color-primary-800: oklch(45% 0.15 139.77);
  --color-primary-900: oklch(38% 0.12 139.77);
  --color-primary-950: oklch(25% 0.08 139.77);

  --color-primary: oklch(66.4% 0.2127 139.77);

  /* Styles for button (match dm.css) */
  --color-btn: oklch(66.4% 0.2127 139.77);
  --color-btn-dark: oklch(66.4% 0.2127 139.77);
  --color-btn-hover: oklch(60% 0.2 139.77);
  --color-btn-active: oklch(60% 0.2 139.77);
  --color-btn-disabled: oklch(0.9249 0 0);

  --color-btn-ring: oklch(66.4% 0.2127 139.77);

  --color-btn-text: oklch(100% 0 0);
  --color-btn-text-disabled: oklch(55.1% 0.027 264.364);
  --color-btn-spinner: oklch(55.1% 0.027 264.364);
  /* End of Styles for button */
}